# Uloha: Pandas
## Tomáš Krasnay

Imports

In [94]:
import pandas
import matplotlib

%matplotlib inline

Read Data:

In [95]:
data = pandas.read_csv('data/survey_results_public.csv', index_col=None)

## Otázky a odpovede:

**1. Kolik lidí celkem vyplnilo dotazník?**

In [96]:
count_respondents = data['Respondent'].count()
print("Dotazník vyplnilo {} ľudí.".format(count_respondents))

Dotazník vyplnilo 51392 ľudí.

**2. Kolik z nich bylo z ČR/SR?**

In [97]:
respon_cz_sk = len(data[(data['Country'] == 'Czech Republic')]) + len(data[(data['Country'] == 'Slovak Republic')])
print("Z celkového počtu bolo {} Čechov a Slovákov".format(respon_cz_sk))

Z celkového počtu bolo 581 Čechov a Slovákov

**3. Jaká je, podle dotazníku, průměrná mzda programátorů v ČR/SR? Ve světě?**

Vybral som 3 najčastejšie meny a tie som vypísal 

* Canadian dollars (C$)

* Euros (€)

* U.S. dollars ($)

In [98]:
data_currencies = results[['Professional', 'Country', 'Currency', 'Salary']]
currencies_cz_sk = data_currencies[((data_currencies['Country'] == 'Czech Republic') | (data_currencies['Country'] == 'Slovak Republic')) & (data_currencies['Professional'] == 'Professional developer')]
euros_cz_sk = currencies_cz_sk[currencies_cz_sk['Currency'].str.contains('Euros', na=False)]
us_dol_cz_sk = currencies_cz_sk[currencies_cz_sk['Currency'].str.contains('U.S. dollars', na=False)]
can_do_cz_sk = currencies_cz_sk[currencies_cz_sk['Currency'].str.contains('Canadian dollars', na=False)]
print("Priemerná mzda Slováka/Čecha ktorý zarába v Eurách(€) je {}".format(euros_cz_sk['Salary'].mean().round(2)))
print("Priemerná mzda Slováka/Čecha ktorý zarába v Amerických dolároch($) je {}".format(us_dol_cz_sk['Salary'].mean().round(2)))
print("Priemerná mzda Slováka/Čecha ktorý zarába v Kanadských dolároch(C$) je {}".format(can_do_cz_sk['Salary'].mean().round(2)))

Priemerná mzda Slováka/Čecha ktorý zarába v Eurách(€) je 19728.36
Priemerná mzda Slováka/Čecha ktorý zarába v Amerických dolároch($) je 793.0
Priemerná mzda Slováka/Čecha ktorý zarába v Kanadských dolároch(C$) je 28191.07

**4. Jaká je, podle dotazníku, průměrná mzda programátorů ve světě?**

In [99]:
pandas.DataFrame(currencies['Currency'].value_counts())

                             Currency
U.S. dollars ($)                 7073
Euros (€)                        5849
British pounds sterling (£)      2176
Indian rupees (?)                2176
Canadian dollars (C$)            1062
Polish zloty (zl)                 564
Australian dollars (A$)           469
Russian rubles (?)                366
Brazilian reais (R$)              359
Swedish kroner (SEK)              306
Swiss francs                      300
South African rands (R)           174
Mexican pesos (MXN$)              144
Japanese yen (¥)                  123
Chinese yuan renminbi (¥)         121
Singapore dollars (S$)             79
Bitcoin (btc)                      67

In [100]:
world_usdollars = currencies[currencies['Currency'].str.contains('U.S. dollars', na=False)]
world_euros = currencies[currencies['Currency'].str.contains('Euros', na=False)]
world_sterling = currencies[currencies['Currency'].str.contains('British pounds sterling', na=False)]
world_rupees = currencies[currencies['Currency'].str.contains('Indian rupees', na=False)]
print("Priemerná mzda programátora v ($) je {}".format(world_usdollars['Salary'].mean().round(2)))
print("Priemerná mzda programátora v (€) je {}".format(world_euros['Salary'].mean().round(2)))
print("Priemerná mzda programátora v (£) je {}".format(world_sterling['Salary'].mean().round(2)))
print("Priemerná mzda programátora v Indickej Rupii je {}".format(world_rupees['Salary'].mean().round(2)))

Priemerná mzda programátora v ($) je 88437.37
Priemerná mzda programátora v (€) je 41643.99
Priemerná mzda programátora v (£) je 52509.29
Priemerná mzda programátora v Indickej Rupii je 10121.03

**5.**

**a) Kolik lidí z ČR/SR uvedlo, že používá Python/Java?**

**b) Kolik z nich chce v používání Pythonu pokračovat?**
    
**c) Kolik lidí Python nepoužívá , ale chce ho začít používat ?**

    * Používání jazyka znamená, že v něm daný člověk poslední rok intenzivně pracoval.

In [101]:
def answer_4_question(lang):
    all_respons = data[['HaveWorkedLanguage', 'WantWorkLanguage', 'Country']]
    repons_cz_sk = all_respons[(all_respons['Country'] == 'Czech Republic') | (all_respons['Country'] == 'Slovak Republic')]
    respons_with_lang = repons_cz_sk[repons_cz_sk["HaveWorkedLanguage"].str.contains(lang, na=False)]
    print('a) {} lidí z ČR/SR uvedlo, že používá {}.'.format(len(respons_with_lang), lang))
    print('b) {} z nich chce v používání {} pokračovat.'.format(len(respons_with_lang[respons_with_lang['WantWorkLanguage'].str.contains(lang, na=False)]), lang))
    
    want_work_lang = all_respons[all_respons['WantWorkLanguage'].str.contains(lang, na=False)]
    havent_worked_lang = want_work_lang[want_work_lang['HaveWorkedLanguage'].str.contains(lang, na=False) == False]
    print('c) {} lidí {} nepoužívá , ale chce ho začít používat.'.format(len(havent_worked_lang), lang, lang))

**Python:**

In [102]:
answer_4_question('Python')

a) 129 lidí z ČR/SR uvedlo, že používá Python.
b) 86 z nich chce v používání Python pokračovat.
c) 5230 lidí Python nepoužívá , ale chce ho začít používat.

**Java:**

In [103]:
answer_4_question('Java')

a) 299 lidí z ČR/SR uvedlo, že používá Java.
b) 203 z nich chce v používání Java pokračovat.
c) 2310 lidí Java nepoužívá , ale chce ho začít používat.